/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_directory
 */
body {
  padding-top: 20pt;
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align:center;
}

#team {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 100px;
}

.login {
  margin-top: 100pt;
  span {
    padding: 15pt;
    font-size: 20pt;
    outline: double #09D7F3;
  }
}

div#main {
  margin-left: auto;
  margin-right: auto;
  text-align:left;
  font-size: 13px;
  width: 60%;
}
