// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tweet_update {
  padding-left: 70%;
}
#members {
  tr {
    td {
      padding: 2pt 10pt;
    }
    .name, .position {
      text-align: center;
    }
  }
}
