// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#schedule_list {
  float: left;
  fieldset {
    margin-bottom: 10pt;
    .one_day {
      padding: 3pt 20pt;
      border-bottom: 2px dashed #000EEE;
      p {
        text-align: center;
        span {
          padding: 3pt;
        }
      }
    }
    p strong {
      font-size: 12pt;
    }
  }
}

#timeline {
  padding: 5pt;
  outline: double #09D7F3;
  width: 300pt;
  float: right;
}
